BODY {
  background-color: Beige;
  background-image: url("/desk.webp");
  color: black;
  font-family: Georgia,Tinos,times,serif;
  overflow:hidden;
}
.paper {
  background-color: white;
  height: 90vh;
  padding: 20px; /* Add units to padding */
  margin: 20px; /* Add margin to increase space around the paper */
  overflow: scroll;
  display: flex;
  justify-content: center;
}